.link{
    margin-right: 30px;
    text-decoration: none;
    color: #000;

}

.link:hover{
   color: red;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.nav{
    margin-top: 20px;
}

