<div class="container">
    <header>
        <input type="text"
               placeholder="What needs to be done?"
               [formControl]="addInput"
               class="form-input"
               required
               (keyup.enter)="addTodo()"
        >
    </header>

    <div>
        <router-outlet></router-outlet>
    </div>

    <footer>
        <div *ngIf=" service?.lengthArray() > 0 ">
            <p>{{ service.lengthArray() + ' items length'}}</p>
            <div class="nav">
                <a routerLink="" class="link">All</a>
                <a routerLink="active" class="link">Active</a>
                <a routerLink="completed" class="link">Completed</a>
            </div>
        </div>
    </footer>
</div>
