

<form [formGroup]="todoForm">
    <input type="text" placeholder="What needs to be done?" formControlName="addInput">
    <button (click)="add()">+</button>
    <div formArrayName="todo">
        <div *ngFor="let todo of TodoArray.controls; let i = index">
            <input type="checkbox">

            <span>{{todo.value}}</span>

            <button (click)="deleteTodo(i)">X</button>
        </div>
    </div>
</form>

<div *ngIf="TodoArray.length > 0">
    <p>{{length}}</p>
</div>

<div>
    <a routerLink="">All</a>
    <a routerLink="active">Active</a>
    <a routerLink="completed">Completed</a>
    <router-outlet></router-outlet>
</div>